{% set modalId = 'modal-' ~ random() %}

<div{{ attributes.addClass('os2web_contact') }}>
  <div class="row">
      <div class="col-12">
        {# Begin - heading #}
        <h2>Kontakt: {{ content.field_os2web_contact_heading.0 }}</h2>
        {# End - heading #}
      </div>

      <div class="col-12 col-sm-6">
        {# Begin - Fornavn Efternavn #}
        {% if content.field_os2web_contact_firstname and content.field_os2web_contact_surname %}
        <div>
          <span class="first-name">{{ content.field_os2web_contact_firstname.0|render|striptags|trim }}</span> <span class="sur-name">{{ content.field_os2web_contact_surname.0|render|striptags|trim }}</span>
        </div>
        {% endif %}
        {# End - Fornavn Efternavn #}

        {# Begin - address #}
        {% if content.field_adresse %}
          {{ content.field_adresse }}
        {% endif %}
        {# End - address #}

        {# Begin - zipcode city #}
        {% if content.field_postnummer and content.field_by %}
          {{ content.field_postnummer }} {{ content.field_by }}
        {% endif %}
        {# End -city #}

        <div class="spacer"></div>

        {# Begin - Jobtitel #}
        {% if content.field_os2web_contact_job_title %}
          {{ content.field_os2web_contact_job_title }}
        {% endif %}
        {# End - Jobtitel#}

        {# Begin - Job task #}
        {% if content.field_os2web_contact_job_task %}
          {{ content.field_os2web_contact_job_task }}
        {% endif %}
        {# End - Job task #}

        {# Begin - Beskrivelse #}
        {% if content.field_os2web_contact_body %}
          {{ content.field_os2web_contact_body }}
        {% endif %}
        {# End - beskrivelse#}

        {# Begin - phone #}
        {% if content.field_os2web_contact_main_phone %}
          <div class="field--name-field-os2web-contact-phone">
            {{ content.field_os2web_contact_main_phone }}
          </div>
        {% endif %}
        {# End - phone #}

        {# Begin - phone #}
        {% if content.field_os2web_contact_phone %}
          <div class="field--name-field-os2web-contact-phone">
            {{ content.field_os2web_contact_phone }}
          </div>
        {% endif %}
        {# End - phone #}

        {# Begin - phone #}
        {% if content.field_os2web_contact_mobile %}
          <div class="field--name-field-os2web-contact-phone">
            {{ content.field_os2web_contact_mobile }}
          </div>
        {% endif %}
        {# End - phone #}

        {# Begin - phone #}
        {% if content.field_os2web_contact_fax %}
          <div class="field--name-field-os2web-contact-phone">
            {{ content.field_os2web_contact_fax }}
          </div>
        {% endif %}
        {# End - phone #}

        {# Begin - email #}
        {% if content.field_os2web_contact_email.0 %}
          <div>
            {{ 'E-mail' | t }}:  <a href="mailto:{{ content.field_os2web_contact_email.0|render|striptags|trim }}">{{ content.field_os2web_contact_email.0|render|striptags|trim }}</a>
          </div>
        {% endif %}
        {# End - email #}

        {# Begin - secure mail link #}
        {% if content.field_os2web_contact_secure_mail.0 %}
          <div>
            <a alt="{{ '小ontact secure mail' | trans }}" aria-label="{{ '小ontact secure mail' | trans }}" href="{{ content.field_os2web_contact_secure_mail.0|render|striptags|trim|raw }}" target="_blank">{{ content.field_os2web_contact_secure_mail['#title'] }}</a>
          </div>
        {% endif %}
        {# End - secure mail #}

        {# Begin - website #}
        {% if content.field_os2web_contact_website %}
          <div>
            <a alt="{{ '小ontact website' | trans }}" aria-label="{{ '小ontact website' | trans }}" href="{{ content.field_os2web_contact_website.0 }}" target="_blank">{{  content.field_os2web_contact_website.0|render|striptags|trim('https://')|trim('http://')}}</a>
          </div>
        {% endif %}
        {# End - website #}

        {# Begin - facebook #}
        {% if content.field_os2web_contact_facebook.0 %}
          <div>
            <a aria-label="{{ 'Facebook' | trans }}" href="{{ content.field_os2web_contact_facebook.0 }}" target="_blank">facebook.com</a>
          </div>
        {% endif %}
        {# End - facebook #}
      </div>

      <div class="col-12 col-sm-6">
        {# Begin - open_hours #}
        {{ content.field_os2web_contact_open_hours }}
        {# End - open_hours #}
      </div>
      <div class="col-12 spacer"></div>
    </div>

  {% if contact.field_os2web_contact_modal.value and  contact.field_os2web_contact_modal_butt.value%}
    <button data-micromodal-trigger="{{ modalId }}" class="button button-primary">
      {{ content.field_os2web_contact_modal_butt }}
    </button>
  {% endif %}
</div>

{% if contact.field_os2web_contact_modal.value %}
  <div class="modal micromodal-slide" id="{{ modalId }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ modalId }}-title">

        {% if contact.field_os2web_contact_modal_head.value %}
          <header class="modal__header">

            <h2 class="modal__title" id="{{ modalId }}-title">
              {{ content.field_os2web_contact_modal_head }}
            </h2>

            <button class="modal__close" aria-label="{{ 'Close' | trans }}" data-micromodal-close></button>
          </header>
        {% endif %}

        <main class="modal__content">
          {{ content.field_os2web_contact_modal_body }}
        </main>

        <footer class="modal__footer">
          <button class="button button-secondary" data-micromodal-close aria-label="{{ 'Close this window' | trans }}">
            {{ 'Close' | trans }}
          </button>
        </footer>
      </div>
    </div>
  </div>
{% endif %}

