{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}

<!-- Begin - desktop -->
<div class="desktop-only d-none d-sm-block">
  <div{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
        <div>{{ item.content }}</div>
    {% endfor %}
  </div>
</div>
<!-- End - desktop -->

<!-- Begin - mobile -->
<div class="mobile-only d-sm-none">
  <div{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
</div>
<!-- End - mobile -->
