{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--image-position--' ~ image_position,
  'clearfix',
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

    <div class="row">
      <div class="col-12">
        {# Begin - heading #}
        <h2>Kontakt: {{ content.field_os2web_cnt_heading.0 }}</h2>
        {# End - heading #}
      </div>

      <div class="col-12 col-sm-6">
        {# Begin - subheading #}
        {% if content.field_os2web_cnt_subheading|render|trim %}
          {{ content.field_os2web_cnt_subheading }}
        {% endif %}
        {# End - subheading #}

        {# Begin - Fornavn Efternavn #}
        {% if content.field_fornavn|render|trim and content.field_efternavn|render|trim %}
          {{ content.field_fornavn }} {{ content.field_efternavn }}
        {% endif %}
        {# End - Fornavn Efternavn #}

        {# Begin - address #}
        {% if content.field_adresse|render|trim %}
          {{ content.field_adresse }}
        {% endif %}
        {# End - address #}

        {# Begin - zipcode city #}
        {% if content.field_postnummer|render|trim and content.field_by|render|trim %}
          {{ content.field_postnummer }} {{ content.field_by }}
        {% endif %}
        {# End -city #}

        <div class="spacer"></div>

        {# Begin - Jobtitel #}
        {% if content.field_jobtitel|render|trim %}
          {{ content.field_jobtitel }}
        {% endif %}
        {# End - Jobtitel#}

        {# Begin - Arbejdsopgaver #}
        {% if content.field_arbejdsopgaver|render|trim %}
          {{ content.field_arbejdsopgaver }}
        {% endif %}
        {# End - Arbejdsopgaver#}

        {# Begin - Beskrivelse #}
        {% if content.field_beskrivelse|render|trim %}
          {{ content.field_beskrivelse }}
        {% endif %}
        {# End - beskrivelse#}

        {# Begin - phone #}
        {% if content.field_os2web_cnt_phone|render|trim %}
          <div class="field--name-field-os2web-cnt-phone">
            {{ 'Tlf.' | t }}: {{ content.field_os2web_cnt_phone.0|render|striptags|trim }}
          </div>
        {% endif %}
        {# End - phone #}

        {# Begin - Hovednummer #}
        {% if content.field_hovednummer|render|trim %}
          <div>
            {{ 'Dir.' | t }}: {{ content.field_hovednummer|render|striptags|trim }}
          </div>
        {% endif %}
        {# End - Hovednummer#}

        {# Begin - Direkte nummer #}
        {% if content.direkte_nummer|render|trim %}
          <div>
            {{ content.direkte_nummer }}
          </div>
        {% endif %}
        {# End - Direkte nummer#}

        {# Begin - Mobilnummer #}
        {% if content.field_mobilnummer|render|trim %}
          <div>
            {{ 'Mobil' | t }}: {{ content.field_mobilnummer|render|striptags|trim }}
          </div>
        {% endif %}
        {# End - Mobilnummer#}

        {# Begin - Fax #}
        {% if content.field_fax|render|trim %}
          <div>
            {{ 'Fax' | t }}: {{ content.field_fax|render|striptags|trim }}
          </div>
        {% endif %}
        {# End - Fax#}

        {# Begin - email #}
        {% if content.field_os2web_cnt_email|render|trim %}
          <div>
            {{ 'E-mail' | t }}:  <a href="mailto:{{ content.field_os2web_cnt_email.0|render|striptags|trim }}">{{ content.field_os2web_cnt_email.0|render|striptags|trim }}</a>
          </div>
        {% endif %}
        {# End - email #}

        {# Begin - link #}
        {% if content.field_os2web_cnt_link|render|trim %}
          <div>
            {{ content.field_os2web_cnt_link }}
          </div>
        {% endif %}
        {# End - link #}

        {# Begin - website #}
        {% if content.field_os2web_cnt_website|render|trim %}
          <div>
            <a href="{{ content.field_os2web_cnt_website.0 }}" target="_blank">{{ paragraph.field_os2web_cnt_website.0.value|trim('https://')|trim('http://')}}</a>
          </div>
        {% endif %}
        {# End - website #}

        {# Begin - facebook #}
        {% if content.field_os2web_cnt_facebook|render|trim %}
          <div>
            <a href="{{ content.field_os2web_cnt_facebook.0 }}" target="_blank">facebook.com</a>
          </div>
        {% endif %}
        {# End - facebook #}
      </div>

      <div class="col-12 col-sm-6">
        {# Begin - open_hours #}
        {{ content.field_os2web_cnt_open_hours }}
        {# End - open_hours #}
      </div>

      <div class="col-12 spacer"><br></div>

      <div class="col-12 os2web_cnt_body">
        <p>Hvis du ønsker at sende følsomme eller fortrolige oplysninger til Ringsted Kommune, eksempelvis dit cpr.nr., oplysninger om dine helbredsforhold eller økonomiske situation, anbefales du at gøre det via Digital Post. <a href="#">Læs om beskyttelse af persondata</a></p>

      </div>
    </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
